body {
	background-image: url("http://p1.pichost.me/640/56/1797162.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 { 
	color : blue ;
	margin: 10px;
	text-align: center;
}

h2 {
	margin: 50px;
}