<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>Inputs</h1>
	<form action="/" method="POST"> <!--posting information and sending it to /-->
    <h3> Enter a Noun: </h3>
    <input type="text" name="noun1">
    <h3> Enter an Activity: </h3>
		<input type="text" name="activity">
    <h3> Choose one: </h3>
    <input type="radio" name="teacher" value="Danny">Danny
    <br>
    <input type="radio" name="teacher" value="Lyel">Lyel
    <h3> Enter a Celebrity's Name: </h3>
    <input type="text" name="celebrity">
    <h3> Enter a TV Show: </h3>
    <input type="text" name="show">
		<input type="submit">
	</form>
</body>
</html>